<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><ion-icon class="icono-principio" name="person-outline"></ion-icon>Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <ion-list>
    <ion-item>
      <ion-input label="Email: " type="email" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password: " type="password" value=""></ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="tertiary" id="present-alert" expand="block" fill="outline">Conectarse</ion-button>
  <ion-alert trigger="present-alert" class="custom-alert" header="Seguro que desea conectarse?" [buttons]="alertaConexion"></ion-alert>

</ion-content>