<ion-header [translucent]="true">
  <ion-toolbar>
    <app-nombre-compania [nombreCompania]="'SkeletonAPP'"></app-nombre-compania>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de Nosotros</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Skeleton App</ion-card-title>
      <ion-card-subtitle>¡Explora el lado misterioso de la vida!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Skeleton App es una aplicación ficticia creada para quienes buscan respuestas a las cuestiones mortíferas de la existencia. Nuestro equipo está dedicado a ofrecerte información, curiosidades y desafíos sobre el mundo de los esqueletos y los misterios de la vida y la muerte.
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
