<ion-header [translucent]="true">
  <ion-toolbar>
    <app-nombre-compania [nombreCompania]="'SkeletonAPP'"></app-nombre-compania>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="la-tarjeta">
    <ion-card-content>
      <ion-segment [(ngModel)]="segmentoSeleccionado">
        <ion-segment-button value="mis-datos">
          <ion-icon name="person-outline"></ion-icon>
          <!-- <ion-label>Mis Datos</ion-label> -->
        </ion-segment-button>
        <ion-segment-button value="certificaciones">
          <ion-icon name="ribbon-outline"></ion-icon>
          <!-- <ion-label>Certificaciones</ion-label> -->
        </ion-segment-button>
        <ion-segment-button value="experiencia-laboral">
          <ion-icon name="briefcase-outline"></ion-icon>
          <!-- <ion-label>Experiencia Laboral</ion-label> -->
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  <div [ngSwitch]="segmentoSeleccionado">
    <app-mis-datos *ngSwitchCase="'mis-datos'"></app-mis-datos>
    <app-certificaciones *ngSwitchCase="'certificaciones'"></app-certificaciones>
    <app-experiencia-laboral *ngSwitchCase="'experiencia-laboral'"></app-experiencia-laboral>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small">App desarrollada por MK</ion-title>
  </ion-toolbar>
</ion-footer>

<!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->